##### Privates
commitInProgress.txt

##### Build and Run via batch skript
_LOGFILES/
_TEMP/

##### Maven
pom.xml
target/

##### Shared libraries
lib/

##### Java
#compiled source code
bin/
*.class

##### Eclipse
#Workspace settings
.metadata

#Project preferences, deviating from the default settings.
.settings/

# Automatically created and may be changed automatically.
.project
.classpath


##### Created by https://www.toptal.com/developers/gitignore/api/eclipse

tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/