##### Privates
commitInProgress.txt

##### Build and Run via batch skript
_LOGFILES/
_TEMP/

##### Maven
.mvn/
mvnw
mvnw.cmd
pom.xml
target/

##### Shared libraries
lib/

##### Java
#compiled source code
bin/
bin-test/
*.class

##### Java Doc
_DOCS

##### Eclipse
#Workspace settings
.metadata

#Project preferences, deviating from the default settings.
.settings/

# Automatically created and may be changed automatically.
.project
.classpath